<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:property-placeholder location="classpath:configure.properties"/>
	
    <mvc:annotation-driven/>
	<bean class="com.mangofactory.swagger.configuration.SpringSwaggerConfig" />
    
    <!-- 开启controller注解支持 -->
    <!-- 注意事项请参考：http://jinnianshilongnian.iteye.com/blog/1762632 -->
    <context:component-scan base-package="com.lpx.shiro" use-default-filters="false">
        <context:include-filter type="annotation"
                                expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>
    
    <!-- <mvc:annotation-driven>
        <mvc:argument-resolvers>
            <bean class="com.lpx.shiro.bind.method.CurrentUserMethodArgumentResolver"/>
        </mvc:argument-resolvers>
    </mvc:annotation-driven> -->

    <!-- 当在web.xml 中   DispatcherServlet使用 <url-pattern>/</url-pattern> 映射时，能映射静态资源 -->
    <mvc:default-servlet-handler/>

    <!-- 静态资源映射 -->
    <!-- <mvc:resources mapping="/static/**" location="/WEB-INF/static/"/> -->
    
	<!-- 所有swagger目录的访问，直接访问location指定的目录 -->
	<mvc:resources mapping="/swagger/**" location="/WEB-INF/swagger/"/>
	
	<!-- 使用 velocity -->
	<!-- <bean class="org.springframework.web.servlet.view.velocity.VelocityViewResolver" p:order="2">  
        <property name="toolboxConfigLocation" value="/WEB-INF/velocityToolBox.xml"/>  
        <property name="viewClass" value="com.lpx.shiro.util.MyVelocityToolboxView" />  
        <property name="cache" value="true" />  
        <property name="prefix" value="" />  
        <property name="suffix" value=".vm" />  
        <property name="exposeSpringMacroHelpers" value="true" />是否使用spring对宏定义的支持  
        <property name="exposeRequestAttributes" value="true" />是否开放request属性  
        <property name="requestContextAttribute" value="rc"/><!–request属性引用名称–>  
        <property name="contentType" value="text/html;charset=UTF-8"/>  
    </bean>  
    <bean id="velocityConfigurer" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">  
        <property name="resourceLoaderPath" value="/WEB-INF/vm/" />  
        <property name="velocityProperties">  
            <props>  
                <prop key="input.encoding">utf-8</prop>  
                <prop key="output.encoding">utf-8</prop>  
                <prop key="file.resource.loader.cache">true</prop>
				<prop key="velocimacro.library.autoreload">false</prop>
            </props>  
        </property>  
    </bean>  --> 


    <!-- 默认的视图解析器 在上边的解析错误时使用 (默认使用html)- -->
    <bean id="defaultViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          p:order="1">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="contentType" value="text/html"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 控制器异常处理 -->
    <bean id="exceptionHandlerExceptionResolver" class="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver">
    </bean>

    <bean class="com.lpx.shiro.exception.DefaultExceptionHandler"/>

</beans>
